header p{
    padding: 10px;
}
.form-control{
    width: 500px;
}
#displayMeal{
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 5px;
}

.card ul,.card h5{
    display: none;
}
#displaySingle{
    margin:0 30% 10% 30%;
}
